// calendar import
@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.pad-top {
  padding-top: 10px;
}
