<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-10 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h3>About Us</h3>
      <p>We are <a href="https://github.com/buildabeer/buildabeer">Open Source!</a></p>
      <p>
        Our primary goal is to create a recipe designer that contains all of the details that brewers like to incorporate. There are so many variables to think of and keep track of. We want our designer to contain as many options as possible for ingredients, techniques, and strategies while giving a heads up on when any aspect of the recipe goes beyond norms.
      </p>
      <p>
        As the designer is developed, we will be incorporating as many aspects as possible from basic books to more advanced books (such as Joy of Home Brewing by Charlie Papazian, Brewing Better Beer by Gordon Strong, Designing Great Beers by Ray Daniels). We want for this to be a growing designer that gives you, the brewer, more options without risking a bad batch.
      </p>
      <p>
        At some point we will consider exploration into artificial intelligence to bring out a more unique recipe designer, able to assist you in producing incredible beer every time.
      </p>
      <p>
        There will also be exploration into home automation. Working on a currently closed-source project, controlled over wifi, slowly for the past couple years. It is able to heat any of the three kettles to specific temperatures remotely, transfer water/wort across the kettles, while keeping timers going for you.
      </p>
      <img src="../../assets/images/brewsystem.jpg" class="img=responsive" />
    </div>
  </div>
</div>
