img {
  max-width: 100%;
}

.resource {
  text-align: center;
}

.center {
  margin: auto;
  padding-bottom: 4px;

}

.resource-link {
  width: 150px;
  margin-bottom: 0.25rem;
}

.top-links {
  padding-bottom: 20px;
}