<div class="container">

  <form class="form-signup" (ngSubmit)="onSignUpSubmit()" #f="ngForm" >
    <h2 class="form-signup-heading">Registration</h2>
    <span class="text-danger">
      <p *ngIf="signUpErrors!=''"> {{ signUpErrors }}</p>
    </span>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUsername" [(ngModel)]="signUpUser.nickname" class="form-control" placeholder="Username" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" [(ngModel)]="signUpUser.login" class="form-control email" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="signUpUser.password" id="password" class="form-control password" placeholder="Password" required>
    <label for="password_confirmation" class="sr-only">Password</label>
    <input type="password" name="password_confirmation" [(ngModel)]="signUpUser.passwordConfirmation" id="password_confirmation" class="form-control password_confirmation" placeholder="Password confirmation" required>
    <span class="text-danger" *ngIf="signUpUser.password != signUpUser.passwordConfirmation">
      <p>Passwords must match</p>
    </span>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid || signUpUser.password != signUpUser.passwordConfirmation">Register</button>
    <p>Have an account? <a routerLink="../login">Sign in.</a></p>
  </form>

</div>
