<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h3>BuildA.Beer wishes you the best and would like to deliver the following reminder(s):</h3>
    <p>
      <%= @message %>

      Be sure to visit your <a src='https://www.BuildA.Beer/profile'>profile</a> and update the history log!

      Please note you may also unsubscribe from these emails within the profile as well.
    </p>
  </body>
</html>
