<div class="container">
  <form class="form-reset" (ngSubmit)="onResetSubmit()" #f="ngForm" *ngIf="!uid">
    <span class="text-danger">
      <p *ngIf="resetErrors!=''"> {{ resetErrors }}</p>
    </span>
    <h2 class="form-reset-heading">Password Recovery</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" [(ngModel)]="resetUser" class="form-control email" placeholder="Email address" required autofocus>
    <p>Don't have an account? <a routerLink="../register">Register.</a></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Request Password</button>
  </form>

  <form class="form-final-reset" (ngSubmit)="onResetConfirmSubmit()" #f="ngForm" *ngIf="uid">
    <span class="text-danger">
      <p *ngIf="resetErrors!=''"> {{ resetErrors }}</p>
    </span>
    <h2 class="form-final-reset-heading">New Password</h2>

    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="reset.password" id="password" class="form-control password" placeholder="Password" required>
    <label for="password_confirmation" class="sr-only">Password</label>
    <input type="password" name="password_confirmation" [(ngModel)]="reset.passwordConfirmation" id="password_confirmation" class="form-control password_confirmation" placeholder="Password confirmation" required>
    <span class="text-danger" *ngIf="reset.password != reset.passwordConfirmation">
      <p>Passwords must match</p>
    </span>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid || reset.password != reset.passwordConfirmation">Reset Password</button>
  </form>
</div>
