
.form-reset {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-reset .form-reset-heading,
.form-reset .checkbox {
  margin-bottom: 10px;
}
.form-reset .form-control:focus {
  z-index: 2;
}
.email {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-final-reset {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-final-reset .form-final-reset-heading,
.form-final-reset .form-control {
  margin-bottom: 10px;
}
.form-final-reset .form-control:focus {
  z-index: 2;
}
.email {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.password {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.password_confirmation {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
