@import "../../../styles.scss";

.pad-top {
  padding-top: 5px;
}

.sort-table {
  cursor: pointer;
}

.miscellaneous-select {
  background-color: $primary !important;
  color: $white;
}

.miscellaneous-select:hover {
  background-color: $primary !important;
  opacity: .6;
}

.table-div {
  height: 500px;
  overflow: auto;
}
