<button class="btn btn-primary" (click)="open(addMiscellaneous)">Add Miscellaneous (Detailed View)</button>


<ng-template #addMiscellaneous let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Miscellaneous</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="container">
              <form #f="ngForm" (ngSubmit)="addMiscellaneousSubmit(f.value)">

                <div class="row">
                  <select class="form-control col-md-4" [(ngModel)]="filterType" [ngModelOptions]="{standalone: true}">
                    <option value="All">All Types</option>
                    <option *ngFor="let type of misc_types" [value]="type">{{ type }}</option>
                  </select>
                  <select class="form-control col-md-4" [(ngModel)]="filterUsage" [ngModelOptions]="{standalone: true}">
                    <option value="All">All Usages</option>
                    <option *ngFor="let usage of misc_usages" [value]="usage">{{ usage }}</option>
                  </select>
                  <input class="form-control col-md-4" type="text" placeholder="Search..." [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="row table-div">
                  <table id="example" class="table tabled-bordered table-hover table-sm nowrap" cellspacing="0" width="100%">
                    <thead class="thead-default">
                      <tr>
                        <th class="sort-table" (click)="sortBy('name')">Name</th>
                        <th class="sort-table" (click)="sortBy('type')">Type</th>
                        <th class="sort-table" (click)="sortBy('usage')">Usage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let misc of filteredMiscellaneousOptions(); let i = index" (click)="selectRow(misc)" [ngClass]="{'miscellaneous-select': selected_miscellaneous.includes(misc)}">
                        <td>{{ misc.name }}</td>
                        <td>{{ misc.miscellaneous_type }}</td>
                        <td>{{ misc.usage }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="row pad-top">
                  <button type="submit" class="btn btn-default" [disabled]="!f.valid && f.dirty">Add</button>
                  <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
