<h1>Sources</h1>
<p>Not only do we want to ensure that the designer is as accurate as we know how to make it, we also encourage the spread of information, and would like to give credit where credit is due. This misses a lot of our early sources (we will add extra sources as we find them again), but we will be trying to maintain it as we go. Feel free to give us recommendations as well!</p>

<h5>Water</h5>
<a src="https://www.amazon.com/Water-Comprehensive-Brewers-Brewing-Elements/dp/0937381993/ref=sr_1_1?ie=UTF8&qid=1538684308&sr=8-1&keywords=palmer+water">John Palmer and Colin Kaminski's Water book</a>
<p>Intense overview of water chemistry and goals for brewing water<br/></p>
<a src="http://homebrewingphysics.blogspot.com/">Homebrewing Physics Blogspot</a>
<p>An interesting composition studying mash pH and how to estimate it.<br/></p>
