<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/']"><img src="../../assets/images/beer.png" class="logo"></a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!navbarCollapsed" id="navbarContent">
    <div class="navbar-nav mr-auto">

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle text-light" id="ingredientDropdown" ngbDropdownToggle>Ingredients</a>
        <div class="dropdown-menu" aria-labelledby="ingredientDropdown" ngbDropdownMenu>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="water_profiles">Water Profiles</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="water_agents">Water Agents</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="acids">Acids</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="malts">Malts</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="hops">Hops</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="yeasts">Yeast</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="miscellaneous">Miscellaneous</a>
        </div>
      </li>

      <a class="nav-link text-light" (click)="navbarCollapsed = !navbarCollapsed" routerLink="styles">Styles</a>
      <a class="nav-link text-light" (click)="navbarCollapsed = !navbarCollapsed" routerLink="equipment">Equipment</a>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle text-light" id="recipeDropdown" ngbDropdownToggle>Recipes</a>
        <div class="dropdown-menu" aria-labelledby="recipeDropdown" ngbDropdownMenu>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="recipes">Browse Recipes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" routerLink="recipes/new">Create Recipe</a>
        </div>
      </li>
    </div>

    <ul class="navbar-nav">
      <a class="btn btn-complementary text-light" href="https://www.paypal.me/jdwyant8" target="_blank">Donate</a>

      <li class="nav-item dropdown" *ngIf="!(_authService.userSignedIn$ | async)">
        <a class="nav-link dropdown-toggle text-light" id="loginDropdown" data-toggle="dropdown">Login</a>
        <ul class="dropdown-menu dropdown-menu-right user-menu">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              Welcome Back!
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1">
              <form (ngSubmit)="onSignInSubmit()" #f="ngForm">

                <span class="text-danger">
                  <p *ngFor="let error of signInErrors"> {{ error }}</p>
                </span>

                <div class="form-group">
                  <label class="sr-only" for="username">Email address</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Email address" [(ngModel)]="headerSignIn.email" required>

                  <label class="sr-only" for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="headerSignIn.password" required>
                </div>
                <!-- <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div> -->
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">Sign in</button>
                <div>
                  <a routerLink="password_reset">Forgot password?</a>
                </div>
              </form>
            <div class="dropdown-divider"></div>
            <div class="text-center">
              New here? <a routerLink="register">Register</a>
            </div>
            </div>
          </div>
        </ul>
      </li>

      <li class="nav-item dropdown" *ngIf="(_authService.userSignedIn$ | async)">
        <a class="nav-link dropdown-toggle text-light" id="settingsDropdown" data-toggle="dropdown">{{ _authTokenService.currentUserData.nickname }}</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" [routerLink]="['/profile']">Profile</a>
          <a class="dropdown-item" (click)="navbarCollapsed = !navbarCollapsed" (click)="logOut()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

