@import "../../../styles.scss";

.logo {
  float: left;
  margin-right: 10px;
  padding-top: -5px;
  padding-left: 0px;
  height: 40px;
}

.btn-complementary {
  background-color: $dark;
}

nav {
  background-color: $primary;
}

.navbar {

}

.navbar-brand {
  padding-right: 30px;
}

.user-menu {
  min-width: 250px;
}

#username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#password {
  margin-bottom: -5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pad-bottom {
  padding-bottom: 5px;
}
