.main-link {
  height: 150px;
  width: 150px;
}

.reg-link {
  height: 182px;
  width: 304px;
}

.welcome {
  text-align: center;
}

.center {
  margin: auto;
  padding-bottom: 4px;
}

.icon {
  height: 100px;
  width: 100px;
}

.large-icon {
  height: 100px;
  width: 200px;
}
