<div class="row welcome">
  <div class="center">
    <h1>Build-A-Beer</h1>
    <p>
      Recipe design made easy!
    </p>
  </div>
</div>
<div class="row welcome" *ngIf="!(_authService.userSignedIn$ | async)">
  <div class="center">
    <a routerLink="register" class="main-link btn btn-primary mr-1 mb-1">
      <i class="fas fa-users medium-icon"></i>
      <p>Register</p>
    </a>
    <a routerLink="login" class="main-link btn btn-primary ml-1 mb-1">
      <i class="fas fa-id-card medium-icon"></i>
      <p>Login</p>
    </a>
  </div>
</div>
<div class="row welcome">
  <div class="center">
    <a routerLink="recipes" class="reg-link btn btn-primary mr-1 mt-1">
      <i class="fas fa-clipboard-list medium-icon"></i>
      <p>Browse Recipes</p>
    </a>
    <a routerLink="recipes/new" class="reg-link btn btn-primary ml-1 mt-1">
      <i class="fas fa-plus-square medium-icon"></i>
      <p>New Recipe</p>
    </a>
  </div>
</div>
<div class="row welcome">
  <div class="center">
    <p class="tagline">We bring centuries of experience and research to your aid.</p>
  </div>
</div>