.main-link {
  width: 150px;
}

.reg-link {
  width: 150px;
}

.welcome {
  text-align: center;
}

.tagline {
  margin-left: 10%;
  margin-right: 10%;
}

.center {
  margin: auto;
  padding-bottom: 4px;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.medium-icon {
  height: 4rem;
  width: 4rem;
}

.large-icon {
  height: 6rem;
  width: 6rem;
}

// XSmall devices
@media (min-width: 420px) { 
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}
