.main-link {
  height: 150px;
  width: 150px;
}

.reg-link {
  height: 182px;
  width: 304px;
}

.welcome {
  text-align: center;
}

.center {
  margin: auto;
  padding-bottom: 4px;
}

.icon {
  height: 100px;
  width: 100px;
}

.large-icon {
  height: 100px;
  width: 200px;
}

// XSmall devices
@media (min-width: 420px) { 
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
}
