.num-input {
  width: 75px;
}

.right-table {
  margin-top: 47.6px;
}

.description {
  margin-top: 10px;
}

.in-line {
  padding-top: 7px;
  padding-left: 7px;
}

.hard-pad-top {
  padding-top: 20px;
}

.item-selector {
  padding: 0;
  height: 30px;
  width: 100%;
}

.pad-top {
  padding-top: 10px;
}

.pad-bottom {
  padding-bottom: 10px;
}

.help-icon {
  cursor: default;
}

.mini-cancel {
  padding: 0;
  height: 30px;
  width: 35px;
  display: inline-block;
  float: right;
}
