<footer class="footer">
  <div class="container">

    <nav class="navbar navbar-expand-sm navbar-dark">

      <ul class="navbar-nav float-right">
        <li><a class="text-center nav-link text-light" routerLink="about_us">About</a></li>
        <li><a class="text-center nav-link text-light" (click)="_modalService.open(contactPopup, { size: 'sm' });">Report Issue</a></li>
        <li><a class="text-center nav-link text-light" href="https://www.paypal.me/buildabeer" target="_blank">Donate</a></li>
        
<!-- 
        <li><a routerLink="contact_us" class="text-center nav-link text-light">Contact Us</a></li>
        <li><a routerLink="about_us" class="text-center nav-link text-light">About Us</a></li>
        <li><a routerLink="privacy_policy" class="text-center nav-link text-light">Privacy Policy</a></li>
        <li><a routerLink="sources" class="text-center nav-link text-light">Sources</a></li>
        <li><a routerLink="license" class="text-center nav-link text-light">Open Source License</a></li>
         -->
      </ul>

    </nav>
 
  </div>
</footer>

<ng-template #contactPopup let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Report Request</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12 pad-bottom">
            <label for="title">Message Type</label>
            <select id="title" class="form-control" [(ngModel)]="headerBugReport.title">
              <option>Bug Report</option>
              <option>Feature Request</option>
            </select>
          </div>
          <div class="col-12 pad-bottom">
            <label for="title">Message</label>
            <textarea class="form-control" id="message" name="message" maxlength="1000"
              [(ngModel)]="headerBugReport.message"></textarea>
          </div>
          <div class="col-12">
            <button (click)="sendContact(headerBugReport);c('Close click')" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>