<footer class="footer">
  <div class="container">

    <nav class="navbar navbar-expand-sm navbar-dark">

      <ul class="navbar-nav float-right">
        <li><a routerLink="contact_us" class="text-center nav-link text-light">Contact Us</a></li>
        <li><a routerLink="about_us" class="text-center nav-link text-light">About Us</a></li>
        <li><a routerLink="privacy_policy" class="text-center nav-link text-light">Privacy Policy</a></li>
        <li><a routerLink="sources" class="text-center nav-link text-light">Sources</a></li>
        <li><a routerLink="license" class="text-center nav-link text-light">Open Source License</a></li>
      </ul>

    </nav>
 
  </div>
</footer>