<div class="container">

  <div class="container table-header d-none d-md-block">
    <div class="row">
      <div class="col-md-6">
        <h3 class="align-left">{{ title }}</h3>
      </div>
      <div class="col-md-6">
        <app-hop-new (onHopCreate)="createEvent($event)"></app-hop-new>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <span class="col-md-12 pad-bottom">
            <button title="Aromas" class="btn btn-primary dropdown-toggle" type="button" id="aromaButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Aroma Filter
            </button>
            <ul class="dropdown-menu">
              <li>
                <input type="text" placeholder="Search..." [(ngModel)]="aromaSearch" [ngModelOptions]="{standalone: true}">
              </li>
              <li *ngFor="let aroma of aromaList();" (click)="aromaCheckbox[aromaIndex(aroma)]=!aromaCheckbox[aromaIndex(aroma)]; filterHops()">
                <p class="small" data-value="option1" tabIndex="-1" *ngIf="aromaCheckbox[aromaIndex(aroma)] && aromaMatch(aroma)">
                  <input type="checkbox" [(ngModel)]="aromaCheckbox[aromaIndex(aroma)]" [ngModelOptions]="{standalone: true}">
                  &nbsp;{{ aroma }}
                </p>
              </li>
              <li *ngFor="let aroma of aromaList();" (click)="aromaCheckbox[aromaIndex(aroma)]=!aromaCheckbox[aromaIndex(aroma)]; filterHops()">
                <p class="small" data-value="option1" tabIndex="-1" *ngIf="!aromaCheckbox[aromaIndex(aroma)] && aromaMatch(aroma)">
                  <input type="checkbox" [(ngModel)]="aromaCheckbox[aromaIndex(aroma)]" [ngModelOptions]="{standalone: true}">
                  &nbsp;{{ aroma }}
                </p>
              </li>
            </ul>
          </span>
        </div>
        <div class="row">
          <div class="col-md-5 col-lg-4 col-xl-5">
            <form class="form-inline pad-bottom">
              <div class="form-group">
                <label class="pad-right-small" for="hopTypeSelect">Type </label>
                <select id="hopTypeSelect" class="form-control" [(ngModel)]="selectedHopTypeDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
                  <option value="0">Any ({{ getTypeFilteredHopCount("0") }})</option>
                  <option *ngFor="let type of hopTypes" [value]="type">{{ type }} ({{ getTypeFilteredHopCount(type) }})</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-inline pad-bottom">
              <div class="form-group">
                <label class="pad-right-small" for="hopOriginSelect">Origin </label>
                <select id="hopOriginSelect" class="form-control" [(ngModel)]="selectedHopOriginDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
                  <option value="0">Any ({{ getOriginFilteredHopCount("0") }})</option>
                  <option *ngFor="let origin of hopOrigins" [value]="origin">{{ origin }} ({{ getOriginFilteredHopCount(origin) }})</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-md-5">
            <form class="form-inline pad-bottom">
              <div class="form-group">
                <label class="pad-right-small" for="localGlobalSelect">Show </label>
                <select id="localGlobalSelect" class="form-control" [(ngModel)]="selectedHopCountDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
                  <option value="All">All ({{ getGlobalFilteredHopCount(2) }})</option>
                  <option value="Local">Local ({{ getGlobalFilteredHopCount(0) }})</option>
                  <option value="Global">Global ({{ getGlobalFilteredHopCount(1) }})</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="form-inline pad-bottom">
              <span class="form-group">
                <input class="form-control" id="search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Search..." type="search">
              </span>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row float-right pad-right">
          <p class="pagination-text d-none d-lg-block">Results: {{ displayedHops.length }}</p>
          <input class="form-control small-button pagination-element" type="button" value="&laquo;" (click)="page=page-1;onPageChange()" [disabled]="page<=1">
          <p class="pagination-text">Page</p>
          <input class="paginate-text form-control pagination-element" type="text" [(ngModel)]="pageText" [ngModelOptions]="{standalone: true}" (change)="page=pageText;onPageChange()">
          <p class="pagination-text">of {{ getPageCount() }}</p>
          <input class="form-control small-button pagination-element" type="button" value="&raquo;" (click)="page=page+1;onPageChange()" [disabled]="page>=getPageCount()">
        </div>
      </div>
    </div>
  </div>

  <div class="table-header d-md-none row">
    <div class="container">
      <div class="row">
        <div class="container col-12 col-sm-6 offset-sm-3">
          <div class="row">
            <div class="col-9">
              <h3 class="align-left">{{ title }}</h3>
            </div>
            <div class="col-3">
              <app-hop-new (onStyleCreate)="createEvent($event)"></app-hop-new>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="form-inline text-center col-sm-6 offset-sm-3 pad-bottom">
          <label class="pad-right-small" for="hopOriginSelectSmall">Origin </label>
          <select id="hopOriginSelectSmall" class="form-control" [(ngModel)]="selectedHopOriginDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
            <option value="0">Any ({{ getOriginFilteredHopCount("0") }})</option>
            <option *ngFor="let origin of hopOrigins" [value]="origin">{{ origin }} ({{ getOriginFilteredHopCount(origin) }})</option>
          </select>
        </form>

        <form class="form-inline text-center col-sm-6 offset-sm-3 pad-bottom">
          <label class="pad-right-small" for="hopTypeSelectSmall">Type </label>
          <select id="hopTypeSelectSmall" class="form-control" [(ngModel)]="selectedHopTypeDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
            <option value="0">Any ({{ getTypeFilteredHopCount("0") }})</option>
            <option *ngFor="let type of hopTypes" [value]="type">{{ type }} ({{ getTypeFilteredHopCount(type) }})</option>
          </select>
        </form>

        <form class="form-inline col-sm-6 offset-sm-3 pad-bottom">
          <label class="pad-right-small" for="hopShowSelectSmall">Show </label>
          <select class="form-control" id="hopShowSelectSmall" [(ngModel)]="selectedHopCountDropdown" [ngModelOptions]="{standalone: true}" (change)="filterHops()">
            <option value="All">All ({{ getGlobalFilteredHopCount(2) }})</option>
            <option value="Local">Local ({{ getGlobalFilteredHopCount(0) }})</option>
            <option value="Global">Global ({{ getGlobalFilteredHopCount(1) }})</option>
          </select>
        </form>

        <div class="col-sm-6 offset-sm-3 pad-bottom">
          <input class="form-control" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search...">
        </div>
      </div>
      <div class="row">
        <form class=" form-inline mx-auto">
          <input class="form-control small-button pagination-element" type="button" value="&laquo;" (click)="page=page-1;onPageChange()" [disabled]="page<=1">
          <p class="pagination-text">Page {{ page }} of {{ getPageCount() }}</p>
          <input class="form-control small-button pagination-element" type="button" value="&raquo;" (click)="page=page+1;onPageChange()" [disabled]="page>=getPageCount()">
        </form>
      </div>
    </div>
  </div>

  <div class="row title-bar">
    <p class="text-light offset-1 name">Name</p>
    <p class="text-light offset-9 help-icon" title="Local items are ones that you personally created and are only available for you to use, while global items are available for all users.">&#9432;</p>
    <p class="text-light">Status</p>
  </div>

  <div class="pre-scrollable">
    <div *ngFor="let hop of searchedHops() | slice:(page-1)*20:(page*20-1); trackBy:trackByHopName;">

      <app-hop-card [hop]="hop" (onHopDelete)="deleteEvent($event)" (onHopEdit)="editEvent($event)"></app-hop-card>

    </div>
    <h4 *ngIf="hops.length == 0" >{{ errorMessage }}</h4>
  </div>
</div>
