.hard-pad-top {
  padding-top: 20px;
}

.pad-top {
  padding-top: 10px;
}

.pad-bottom {
  padding-bottom: 10px;
}

.pad {
  padding: 5px;
  height: 50px;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}
