<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3>Fermentation</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <label for="fermquant">Wort Quantity</label>
      <input id="fermquant" type="number" min="0" max="120" step=".01" class="form-control" [(ngModel)]="f_quant">
    </div>
    <div class="col-12 col-md-4">
      <label for="fermgravity">Gravity</label>
      <input id="fermgravity" type="number" min="1" max="2" step=".001" class="form-control" [(ngModel)]="f_grav">
    </div>
    <div class="col-12 col-md-4">
      <label for="fermaeration">Aeration Method</label>
      <select id="fermaeration" class="form-control" [(ngModel)]="f_aer">
        <option value="none">None</option>
        <option value="shake">Shake</option>
        <option value="stir">Stir</option>
        <option value="pump">Pump</option>
      </select>
    </div>
    <div class="col-12 col-md-4">
      <label for="fermdays">Days of Fermentation</label>
      <input id="fermdays" type="number" min="0" max="1500" class="form-control" [(ngModel)]="f_days">
    </div>
    <div class="col-12 col-md-4">
      <label for="fermtemp">Fermentation Temp &deg;{{ _designer.measurement.temperature === 'us' ? 'F' : 'C'}}</label>
      <input id="fermtemp" type="number" min="0" max="100" class="form-control" [(ngModel)]="f_temp">
    </div>
    <div class="col-12 col-md-4">
      <label for="fermdays">Days of Secondary</label>
      <input id="fermdays" type="number" min="0" max="1500" class="form-control" [(ngModel)]="f_second_days">
    </div>
    <div class="col-12 pt-2">
      <ul class="unstyled">
        <li *ngFor="let yeast of yeasts"><input type="checkbox">
          {{ yeast.quantity | number:'1.0-1' }} pkgs of {{ yeast.name }}{{ yeast.lab ? " - " + yeast.lab : "" }}.
        </li>
        <li *ngFor="let misc of primary_miscs; let i = index "><input type="checkbox">
          {{ _designer.recipe.recipe_miscellaneous_attributes[i].quantity | number:'1.0-1'}} {{ _designer.recipe.recipe_miscellaneous_attributes[i].quantity_label }} of {{ misc.name }} for {{ misc.time }} {{ _designer.recipe.recipe_miscellaneous_attributes[i].time_label }}.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="fermnotes">Notes</label>
      <input id="fermnotes" type="textbox" class="form-control">
    </div>
  </div>
</div>
