<div class="row top-resource">
  <div class="col">
    <h3 class="resource">Resources</h3>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="title">
      <p>Styles</p>
    </div>
    <div class="center resource">
      <a routerLink="/styles" class="resource-link btn btn-primary ml-1">
        <i class="fas fa-clipboard-list icon"></i>
        <p>Styles</p>
      </a>
    </div>
  </div>
  <div class="col-6">
    <div class="title">
      <p>Recipes</p>
    </div>
    <div class="center resource">
      <a routerLink="/recipes" class="resource-link btn btn-primary ml-1">
        <i class="fas fa-chart-pie icon"></i>
        <p>Recipes</p>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="title">
      <p>Ingredients</p>
    </div>
    <div class="center resource">
      <a class="resource-link btn btn-primary ml-1" routerLink="/water_profiles">
        <i class="fas fa-tint icon"></i>
        <p>Water Profiles</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/water_agents">
        <i class="fas fa-eye-dropper icon"></i>
        <p>Water Agents</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/acids">
        <i class="fas fa-filter icon"></i>
        <p>Acids</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/fermentables">
        <i class="fas fa-beer icon"></i>
        <p>Fermentables</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/hops">
        <i class="fas fa-leaf icon"></i>
        <p>Hops</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/yeasts">
        <i class="fas fa-flask icon"></i>
        <p>Yeast</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/miscellaneous">
        <i class="fas fa-cogs icon"></i>
        <p>Miscellaneous</p>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="title">
      <p>Recipe Building</p>
    </div>
    <div class="center resource">
      <a class="resource-link btn btn-primary ml-1" routerLink="/hop_relations">
        <i class="fas fa-leaf icon"></i>
        <p>Hop &nbsp; Substitutes</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/yeast_relations">
        <i class="fas fa-flask icon"></i>
        <p>Yeast Substitutes</p>
      </a>
      <a class="resource-link btn btn-primary ml-1" routerLink="/style_yeast_relations">
        <i class="fas fa-beer icon"></i>
        <p>Style/Yeast Relationships</p>
      </a>
    </div>
  </div>
</div>