.resource {
    text-align: center;
}

.top-resource {
    /*margin-top: -20px;*/
}
  
.center {
    margin: auto;
    padding-bottom: 4px;

}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.resource-link {
    width: 150px;
    margin-bottom: 0.25rem;
}